body {
	font-family: sans-serif;
	line-height: 1.5;
}

h1 {
	background: red;
	border: 3px solid black;
	margin: auto;
	font-size: 20px;
	padding: 6px;
}

p {
	color: white;
	background: blue;
	border: 2px solid black;
	margin: 6  6 6 6 ;
	padding: 6px;
	font-size: 12px ;

}

code {
	background-color: white;
	border: 1px solid black;
	color: black;
	font-size: 12px
}

h2 {
	font-size: 16px;

}