title {
	font-color: black;

}

body {
	font-family: Georgia, serif;
	line-height: 1.4;
	color: #888;

}

em h1 {
	color: balck;
}

body h1, em {
	color: black;
}


p { 
	margin: 1.4em 0;
}

blockquote {
	border-left: 5px solid #EEE;
	padding: 0 0 0 .7em;
	margin: 0;

}

blockquote p {
	font-style: italic; 
}

blockquote p em {
	font-style: normal;
}